@model IEnumerable<ProjetoWeb.Models.UsuarioView>

@{
    ViewData["Title"] = "Index";
}

<h4>Gerenciamento dos Usuários</h4>

<p>
    <a asp-action="Create" class="btn btn-info">Cadastrar</a> <br />
</p>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Logradouro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CriadoEm)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Logradouro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CriadoEm)
                </td>
            </tr>
        }
    </tbody>
</table>

