@model IEnumerable<ProjetoWeb.Models.Aluguel>

@{
    ViewData["Title"] = "MeusLivros";
}


<fieldset>
    <legend>Livros Alugados</legend>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Livro.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Livro.Autor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Livro.Editora)
                </th>
                <th>
                    Alugado Em
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Livro.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Livro.Autor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Livro.Editora)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Livro.CriadoEm)
                    </td>
                    <td>
                        <a asp-action="Devolver" asp-controller="Home" asp-route-id="@item.Livro.Id" class="btn btn-warning">Devolver</a>
                    </td>
                </tr>            
            }
        </tbody>
    </table>
</fieldset>

<br />
<p><b>Dados Atualizados: </b> @DateTime.Now </p>
