@model IEnumerable<ProjetoWeb.Models.ItemAlugado>

@{
    ViewData["Title"] = "MeusFavoritos";
}

    <fieldset>
        <legend>Meus Favoritos</legend>

        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Imagem</th>
                    <th>Nome</th>
                    <th>Adicionado em</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td> <img src="~/images/@item.Livro.Imagem" alt="@item.Livro.Nome" style="width:120px; height:120px;" /> </td>
                        <td>@item.Livro.Nome</td>
                        <td>@item.CriadoEm</td>
                        <td>
                            <div>
                                <a asp-action="Remover" asp-controller="Home" asp-route-id="@item.Id" class="btn btn-danger">Remover</a>
                                @if (item.Livro.Status == "Disponível")
                                {
                                    <a asp-action="Alugar" asp-controller="Home" asp-route-id="@item.Livro.Id" class="btn btn-success">Alugar</a>
                                }  
                            </div>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
        </fieldset>



        @*<p><b>Quantia de Itens no Carrinho: </b> @Model.Count </p>*@
        <br />
        <p><b>Dados Atualizados: </b> @DateTime.Now </p>
